
@{
    ViewBag.Title = "Index";
}

<h2>Orders</h2>


@if (Session["IsAdmin"] != null)
{
    <div class="row OrderList">

        @Html.Action("GetAllOrdersAdmin")
    </div>

}
else if (Session["UserId"] != null)
{
    <div class="row OrderList">
        @Html.Action("GetAllOrdersUser", new { Id = ViewBag.UserId })
    </div>

}

@Html.Partial("OrderDetailsModal")

@section Scripts
        {
    <script>
        function ToggleOrderDetailsModal() {
            $("#OrderDetailsModal").modal("toggle");
        }
    </script>
}
